@font-face {
    font-family: 'Yeseva';
    src: url("../fonts/YesevaOne-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
}

* {
    margin: 0;
} 

html {
    font-family: 'Montserrat';
}

header{
    border-bottom: 1px solid #808080 ; 
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

header nav a {
    text-align: center;
    margin: 1em 0.5em;
}

header nav i {
    margin: 1em 0.5em;
  }

a{
    color: #e5e5e5;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
main{
    width: 90%;
    margin: auto;
    padding-top: 3em;
}

h1 {
    font-family: 'Yeseva', cursive;
    font-size: 1.5em;
    text-align: left;
    color : #e5e5e5
  }

h2 {
    font-family: 'Yeseva', cursive;
    font-size: 2em;
    color : #e5e5e5
  }

body
{
    background-color :#041821
}

span{
    color : #1bd79e 
}

p {
    color: #808080;
}

i {
    color: #e5e5e5;
}


button {
    background-color: #041821;
    color: #ffffff;
    border: none;
    letter-spacing: 0.25em;
    font-weight: lighter;
    font-size: 0.5em;
    padding: 0.5em;
  }

button:nth-child(2) {
    background-color:#1bd79e;
} 

footer{
    text-align: center;
    font-size: 1em;
}

footer :last-child {
    font-size: 0.7em;
}

.grid {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 250px;
    width: 100%;
    gap: 10px;
}
.grid img {
    width: 250px;
}
.grid img:nth-child(n + 10) {
    display: none;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    header{
        align-items: baseline;
        flex-direction: row;
    }

    main{
        width: 60%;
    }

    .h2{
        width: 60%;
    }
    .button {
        display: flex;
        justify-content: center;
    }

    .grid img:nth-child(n + 10) {
        display: flex;
    }
    .grid {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 250px;
        width: 100%;
        gap: 10px;
    }
} 
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    main {
        width: 80%;
        margin: auto;
    }
    .nav {
        justify-content: center;
        gap: 1em;
    }
    .button {
        font-size: 0.80em;
    }
    .grid {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 250px;
        width: 100%;
        gap:10px;
    }
}